.backimage_block{ 
    background-size: cover;
}

.backimage_block h1, h2 {
    font-size: 72px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 160px;
}

.backimage_block h2{
    font-size: 48px;
    font-style: italic;
}

.jumbotron{
    background-image: url('img/grind.png');
    background-size: cover;
}

.hero{
    background-image: url('img/blue_grind.png');
    background-size: cover;
}

.the_problem{
    background-color: #EEEEEE;
}

.ppc img{
    float: left;
    margin-right: 48px;
    margin-bottom: 35px;
}

.the_team{
    background-color: #EEEEEE;
}

.footer{
    background-color: #333333;
}

.the_team_profile_area{
    text-align: center;
}
.profile_box{
    display: inline-block;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 58px;
}

.the_team h1{
    margin-bottom: 32px;
}
.the_team h3{
    color: #007765;
    font-size: 24px;
    line-height: 29px;
    
    text-align: center;
}

.the_team p{
    color: black;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
}

.profile_img{
    width: 168px;
    height: 168px;
    background-color: red;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    background-size: cover;
}
.profile_img_1 {
    background-image: url('img/Richard.png');
}
.profile_img_2 {
    background-image: url('img/theguy.jpg'); 
}
.profile_img_3 {
    background-image: url('img/Bertram.png ');
}
.profile_img_4 {
    background-image: url('img/Jared.png'); 
}
.profile_img_5 {
    background-image: url('img/Monica.png'); 
}
.profile_img_6 {
    background-image: url('img/Nelson.png'); 
}

.footer .container{
    max-width: 600px;
    padding-top: 48px;
    padding-bottom: 64px;
}
.footer p{
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 0;
}
