@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1, h2, h3, ul{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}

.header{
    height: 84px;
    background-color: #007765;
}

.header .container > * {
    display: inline-block;
}

.header .container, .backimage_block .container{
    padding: 0;
}

.container{
    max-width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin: 0 auto;
    font-size: 32px;
    color: black;

}

.container h1{
    font-weight: 500;
    text-align: center;
    font-size: 64px;
    color: #007765;
    margin-bottom: 16px;
}

.logo_box{
    padding-top: 19px;
}

.header_menu_bar_box{
    float: right;
    margin-top: 27px;
}

.menu_bar{
    color: #fff;
    font-size: 24px;
}
.menu_bar li{
    display: inline-block;
}

